<app-header></app-header>
<div class="container">

  <div *ngIf="appState == 'extend'">
    <div class="row">
      <div *ngFor="let business of businesses">
        <div *ngIf="activeKey == business.$key">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title pull-left">
                {{ business.company }}
              </h3>
              <button class="btn btn-default pull-right" (click)="changeState('default')">Go back</button>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">

              <p><b>Category:</b> {{ business.category }}</p>
              <p><b>Years in Business:</b> {{ business.years_in_business }}</p>
              <p>{{ business.description }}</p>
              <br/>
              <ul class="list-group">
                <li class="list-group-item"><b>Category:</b> {{ business.category }}</li>
                <li class="list-group-item"><b>Years in Business:</b> {{ business.years_in_business }}</li>
                <br/>
                <li class="list-group-item">{{ business.description }}</li>
                <br/>
                <li class="list-group-item"><b>Phone:</b> {{ business.phone }}</li>
                <li class="list-group-item"><b>Email:</b> {{ business.email }}</li>
                <li class="list-group-item"><b>Street:</b> {{ business.street_adress }}</li>
                <li class="list-group-item"><b>City:</b> {{ business.city }}</li>
                <li class="list-group-item"><b>Zipcode:</b> {{ business.zipcode }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="appState == 'edit'" class="row">
     <button class="btn btn-default pull-right" (click)="changeState('default')">Go back</button>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Edit Business</h3>

      <form (submit)="updateBusiness()">

        <div class="form-group">
          <label for="">Compa</label>
          <input type="text" [(ngModel)]="activeCompany" name="activeCompany" class="form-control" #company>
        </div>

        <div class="form-group">
          <label for="">Category</label>
          <select #category class="form-control" name="activeCategory" [(ngModel)]="activeCategory">
            <option value="0">Select</option>
            <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Years in Business</label>
          <input type="text" [(ngModel)]="activeYears_in_business" name="activeYears_in_business" class="form-control" #years_in_business>
        </div>

        <div class="form-group">
          <label for="">Description</label>
          <input type="text" [(ngModel)]="activeDescription" name="activeDescription" class="form-control" #description>
        </div>

        <div class="form-group">
          <label for="">Phone</label>
          <input type="text" [(ngModel)]="activePhone" name="activePhone" class="form-control" #phone>
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input type="text" [(ngModel)]="activeEmail" name="activeEmail" class="form-control" #email>
        </div>

        <div class="form-group">
          <label for="">Street address</label>
          <input type="text" [(ngModel)]="activeStreet_address" name="activeStreet_address" class="form-control" #street_address>
        </div>

        <div class="form-group">
          <label for="">City</label>
          <input type="text" [(ngModel)]="activeCity" name="activeCity" class="form-control" #city>
        </div>

        <div class="form-group">
          <label for="">State</label>
          <input type="text" [(ngModel)]="activeState" name="activeState" class="form-control" #state>
        </div>

        <div class="form-group">
          <label for="">Zipcode</label>
          <input type="text" [(ngModel)]="activeZipcode" name="activeZipcode" class="form-control" #zipcode>
        </div>

        <button type="submit" class="pull-right btn btn-success btn-md">Save</button>
      </form>
    </div>
  </div>

  <div *ngIf="appState == 'add'" class="row">
     <button class="btn btn-default pull-right" (click)="changeState('default')">Go back</button>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Add Business</h3>

      <form (submit)="addBusiness(
        company.value,
        category.value,
        years_in_business.value,
        description.value,
        phone.value,
        email.value,
        street_address.value,
        city.value,
        state.value,
        zipcode.value)">

        <div class="form-group">
          <label for="">Company</label>
          <input type="text" class="form-control" #company>
        </div>

        <div class="form-group">
          <label for="">Category</label>
          <select #category class="form-control">
            <option value="0">Select</option>
            <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Years in Business</label>
          <input type="text" class="form-control" #years_in_business>
        </div>

        <div class="form-group">
          <label for="">Description</label>
          <input type="text" class="form-control" #description>
        </div>

        <div class="form-group">
          <label for="">Phone</label>
          <input type="text" class="form-control" #phone>
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input type="text" class="form-control" #email>
        </div>

        <div class="form-group">
          <label for="">Street address</label>
          <input type="text" class="form-control" #street_address>
        </div>

        <div class="form-group">
          <label for="">City</label>
          <input type="text" class="form-control" #city>
        </div>

        <div class="form-group">
          <label for="">State</label>
          <input type="text" class="form-control" #state>
        </div>

        <div class="form-group">
          <label for="">Zipcode</label>
          <input type="text" class="form-control" #zipcode>
        </div>

        <button type="submit" class="pull-right btn btn-success btn-md">Save</button>
      </form>
    </div>
  </div>




  <div class="row" style="margin-top: 20px;">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button type="button" class="btn btn-primary" (click)="changeState('add')">Add Business</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Filter Category
          <select class="form-control" (change)="filterCategory(filteredCategory.value)" #filteredCategory>
            <option value="0">Select</option>
            <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
          </select>
        </label>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div *ngIf="businesses">
      <table class="table">
        <thead>
          <tr>
            <th>Company</th>
            <th>Category</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let business of businesses">
            <td>{{ business.company }}</td>
            <td>{{ business.category }}</td>
            <td>{{ business.phone }}</td>
            <td>
              <button (click)="changeState('extend', business.$key)" type="button" class="btn btn-primary">More</button>
              <button (click)="showEdit(business)" type="button" class="btn btn-warning">Edit</button>
              <button (click)="remove(business)" type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>